<launch>

	
	<!-- Config file, containing waypoints -->
	<rosparam command="load" file="$(find drone_flight)/param/param.yaml" />
	
	<!-- SLAM pose to MAVROS -->
  <node pkg="drone_flight" type="slam_to_mavros.py" name="slam_to_mavros_node" output="screen" /> 
	
	<!-- Drone flight -->
  <node pkg="drone_flight" type="drone_flight_node" name="drone_flight_node" output="screen" /> 


</launch>