<launch>
  <!-- Launch file for Velodyne VLP-16 -->
  <arg name="rviz" default="true" />
  <arg name="save_dir" default="" />
  <arg name="sequence_name" default="12_08_acl_jackal2" />
  <arg name="robot_name" default="" />

  <group ns="$(arg robot_name)">
    <rosparam command="load" file="$(find spark_fast_lio)/config/kimera_multi/$(arg robot_name).yaml" />

    <param name="common/save_dir" type="string" value="$(arg save_dir)"/>
    <param name="common/sequence_name" type="string" value="$(arg sequence_name)"/>
    <param name="common/robot_name" type="string" value="$(arg robot_name)"/>

    <remap from="lio_mapping/lidar" to="lidar_points"/>
    <!-- Note that we use IMU sensor in D455 camera -->
    <remap from="lio_mapping/imu" to="forward/imu"/>

    <node pkg="spark_fast_lio" type="spark_lio_mapping" name="lio_mapping" output="screen" />
  </group>

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="$(anon rviz)" args="-d $(find spark_fast_lio)/rviz/kimera_multi/$(arg robot_name).rviz"/>
  </group>

</launch>
