<launch>
<!-- Launch file for ouster OS2-64 LiDAR -->

  <arg name="rviz" default="true" />
  <arg name="save_dir" default="" />
  <arg name="sequence_name" default="" />
  <arg name="robot_name" default="" />

  <rosparam command="load" file="$(find spark_fast_lio)/config/ouster.yaml" />

  <param name="common/save_dir" type="string" value="$(arg save_dir)"/>
  <param name="common/sequence_name" type="string" value="$(arg sequence_name)"/>
  <param name="common/robot_name" type="string" value="$(arg robot_name)"/>
  <param name="common/lid_topic" type="string" value="/$(arg robot_name)/lidar_points"/>
  <param name="common/imu_topic" type="string" value="/$(arg robot_name)/forward/imu"/>

  <param name="feature_extract_enable" type="bool" value="0"/>
  <param name="point_filter_num" type="int" value="4"/>
  <param name="max_iteration" type="int" value="3" />
  <param name="cube_side_length" type="double" value="1000" />
  <param name="runtime_pos_log_enable" type="bool" value="0" />
  <node pkg="spark_fast_lio" type="spark_lio_mapping" name="laserMapping" output="screen" />

  <group if="$(arg rviz)">
  <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find spark_fast_lio)/rviz.rviz" />
  </group>

</launch>
